@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipsis {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
}
.ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.ais-Pagination-list {
    @apply flex justify-center space-x-1;
  
  }
  .ais-Pagination-item {
    @apply p-2 rounded-md border bg-dy-gray-1;
  }
  .ais-Pagination-item--selected {
    @apply font-bold bg-dy-gray-2;
  
  }