@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipsis {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
}
.ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
  